[submodule "scalachess"]
	path = modules/chess
	url = git://github.com/ornicar/scalachess.git
[submodule "modules/swisssystem"]
	path = modules/swisssystem
	url = https://github.com/psuter/swisssystem
